<%- include('parts/header') %> 
<%- include('parts/navbar') %> 

<div class="container text-center">
    <h3>Login</h3>
    <form action="/signup" method="POST">
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <br>
    <div>
        Don't have Account ? <a href="/signup">Create Account</a>
    </div>
</div>


<%- include('parts/footer') %> 